:root {
    /* Colors */
    --color-text: #dedede;
    --color-primary: #5b5b5b;
    --color-secondary: #acacac;
    --color-dark: #1a1a1a ;
    --color-bg: #151515;

    /* Fonts */
    --font-roboto: "Roboto";

    /* Font-size */
    --font-size-small: 10px;
    --font-size-medium: 14px;
    --font-size-large: 18px;

    /* margin */
    --margin-small: 10px;
    --margin-small-medium: 20px;
    --margin-medium: 30px;
    --margin-large: 40px;
    --margin-extra-large: 60px;

    --margin-side: 10%;
}